In [5]:
from transformers import AlbertTokenizer, AlbertForQuestionAnswering
import torch

In [6]:
tokenizer = AlbertTokenizer.from_pretrained('twmkn9/albert-base-v2-squad2')
model = AlbertForQuestionAnswering.from_pretrained('twmkn9/albert-base-v2-squad2')
# inputs = tokenizer("Hello, my dog is cute", return_tensors="pt")
# start_positions = torch.tensor([1])
# end_positions = torch.tensor([3])
# outputs = model(**inputs, start_positions=start_positions, end_positions=end_positions)
# loss, start_scores, end_scores = outputs[:3]

In [105]:
question = "Which new peso notes were the highest created by 1944?"
answer_text = 'The first issue in 1942 consisted of denominations of 1, 5, 10 and 50 centavos and 1, 5, and 10 Pesos. The next year brought "replacement notes" of the 1, 5 and 10 Pesos while 1944 ushered in a 100 Peso note and soon after an inflationary 500 Pesos note. In 1945, the Japanese issued a 1,000 Pesos note. This set of new money, which was printed even before the war, became known in the Philippines as Mickey Mouse money due to its very low value caused by severe inflation. Anti-Japanese newspapers portrayed stories of going to the market laden with suitcases or "bayong" (native bags made of woven coconut or Corypha leaf strips) overflowing with the Japanese-issued bills. In 1944, a box of matches cost more than 100 Mickey Mouse pesos. In 1945, a kilogram of camote cost around 1000 Mickey Mouse pesos. Inflation plagued the country with the devaluation of the Japanese money, evidenced by a 60% inflation experienced in January 1944.'

In [106]:
input_ids = tokenizer.encode(question, answer_text)
print('The input has a total of {:} tokens.'.format(len(input_ids)))

The input has a total of 235 tokens.

In [107]:
tokens = tokenizer.convert_ids_to_tokens(input_ids)

# For each token and its id...
for token, id in zip(tokens, input_ids):
    
    # If this is the [SEP] token, add some space around it to make it stand out.
    if id == tokenizer.sep_token_id:
        print('')
    
    # Print the token string and its ID in two columns.
    print('{:<12} {:>6,}'.format(token, id))

    if id == tokenizer.sep_token_id:
        print('')

[CLS]             2
▁which           56
▁new             78
▁pes         10,457
o               111
▁notes        2,434
▁were            46
▁the             14
▁highest      1,554
▁created        679
▁by              34
▁1944         2,921
?                60

[SEP]             3

▁the             14
▁first           64
▁issue        1,513
▁in              19
▁1942         3,148
▁consisted    3,597
▁of              16
▁denominations 19,515
▁of              16
▁1              137
,                15
▁5              331
,                15
▁10             332
▁and             17
▁50           1,222
▁cent         5,802
avo          13,884
s                18
▁and             17
▁1              137
,                15
▁5              331
,                15
▁and             17
▁10             332
▁pes         10,457
os              759
.                 9
▁the             14
▁next           328
▁year           159
▁brought        809
▁                13
"                 7
re               99
place         5,119
ment          1,130
▁notes        2,434
"                 7
▁of              16
▁the             14
▁1              137
,                15
▁5              331
▁and             17
▁10             332
▁pes         10,457
os              759
▁while          133
▁1944         2,921
▁ushered     26,553
▁in              19
▁a               21
▁100            808
▁pes         10,457
o               111
▁note         1,945
▁and             17
▁soon           651
▁after           75
▁an              40
▁inflation   15,559
ary           1,857
▁500          3,033
▁pes         10,457
os              759
▁note         1,945
.                 9
▁in              19
▁1945         2,403
,                15
▁the             14
▁japanese     1,095
▁issued       2,212
▁a               21
▁1,000        5,925
▁pes         10,457
os              759
▁note         1,945
.                 9
▁this            48
▁set            309
▁of              16
▁new             78
▁money          875
,                15
▁which           56
▁was             23
▁printed      5,317
▁even           166
▁before         115
▁the             14
▁war            176
,                15
▁became         178
▁known          167
▁in              19
▁the             14
▁philippines  3,737
▁as              28
▁mickey      12,022
▁mouse        7,567
▁money          875
▁due            397
▁to              20
▁its             82
▁very           253
▁low            708
▁value        1,923
▁caused       1,497
▁by              34
▁severe       4,538
▁inflation   15,559
.                 9
▁anti         1,082
-                 8
japanese      9,072
▁newspapers   5,573
▁portrayed    5,918
▁stories      1,650
▁of              16
▁going          228
▁to              20
▁the             14
▁market       1,135
▁                13
laden        14,415
▁with            29
▁suitcase    16,244
s                18
▁or              54
▁                13
"                 7
bay           7,011
ong           3,279
"                 7
▁                13
(                 5
native       21,525
▁bags         9,089
▁made           117
▁of              16
▁woven       20,570
▁coconut     16,806
▁or              54
▁cory        15,608
pha           7,190
▁leaf         5,164
▁strips      15,383
)                 6
▁overflow    20,285
ing              68
▁with            29
▁the             14
▁japanese     1,095
-                 8
issue        12,565
d                43
▁bills        8,958
.                 9
▁in              19
▁1944         2,921
,                15
▁a               21
▁box          1,649
▁of              16
▁matches      1,717
▁cost         1,516
▁more            91
▁than           119
▁100            808
▁mickey      12,022
▁mouse        7,567
▁pes         10,457
os              759
.                 9
▁in              19
▁1945         2,403
,                15
▁a               21
▁kil          5,786
ogram        20,476
▁of              16
▁ca           1,658
mote         20,209
▁cost         1,516
▁around         140
▁1000         6,150
▁mickey      12,022
▁mouse        7,567
▁pes         10,457
os              759
.                 9
▁inflation   15,559
▁plagued     20,903
▁the             14
▁country        475
▁with            29
▁the             14
▁deva        16,078
lu            2,377
ation           857
▁of              16
▁the             14
▁japanese     1,095
▁money          875
,                15
▁evidence     1,445
d                43
▁by              34
▁a               21
▁                13
60%          12,978
▁inflation   15,559
▁experienced  3,882
▁in              19
▁january        320
▁1944         2,921
.                 9

[SEP]             3

In [108]:
# Search the input_ids for the first instance of the `[SEP]` token.
sep_index = input_ids.index(tokenizer.sep_token_id)

# The number of segment A tokens includes the [SEP] token istelf.
num_seg_a = sep_index + 1

# The remainder are segment B.
num_seg_b = len(input_ids) - num_seg_a

# Construct the list of 0s and 1s.
segment_ids = [0]*num_seg_a + [1]*num_seg_b

# There should be a segment_id for every input token.
assert len(segment_ids) == len(input_ids)

In [109]:
# Run our example through the model.
start_scores, end_scores = model(torch.tensor([input_ids]), # The tokens representing our input text.
                                 token_type_ids=torch.tensor([segment_ids])) # The segment IDs to differentiate question from answer_text

In [110]:
# Find the tokens with the highest `start` and `end` scores.
k = 3 # number of top answers returned
start_scores.detach().numpy()[0][0] = 0
end_scores.detach().numpy()[0][0] = 0
answer_start = torch.topk(start_scores, k, largest=True)
answer_end = torch.topk(end_scores, k, largest=True)

In [111]:
#no overlapping
for index, token_index in enumerate(answer_start[1][0]):   
    if answer_end[1][0][index] >= answer_start[1][0][index]: #end token after start token
        if index == 0: # first (best) answer
            answer = tokens[answer_start[1][0][index]]
            for i in range(answer_start[1][0][index] + 1, answer_end[1][0][index] + 1):
                if tokens[i][0:1] != '▁':
                    answer += tokens[i]
                else:
                    answer += ' ' + tokens[i]
            print('Answer: "' + answer + '"')
        elif (answer_start[1][0][index] >= answer_end[1][0][index-1]) or (answer_start[1][0][index-1] >= answer_end[1][0][index]):
            # ^start token of current span is after end token of previous span; ^end token of current span is before start of prev
            answer = tokens[answer_start[1][0][index]]
            for i in range(answer_start[1][0][index] + 1, answer_end[1][0][index] + 1):
                if tokens[i][0:1] != '▁':
                    answer += tokens[i]
                else:
                    answer += ' ' + tokens[i]
            print('Answer: "' + answer + '"')

Answer: "▁100"
Answer: "▁500 ▁pesos ▁note"